# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Salidas generadas (descomentar si no querés versionarlas)
# outputs/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Caché de pytest
.pytest_cache/
